@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$gray_title: rgb(26, 26, 26);
$gray_results: rgb(179, 179, 179);

body {
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;

    & .container_top {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;

        & .title {
            top: 0;
            width: 100%;
            margin-bottom: -20px;
            padding-top: 25px;
            padding-bottom: 25px;
            background: $gray_title;
            color: white;
        }
    
        & .results {
            background: $gray_results;
            padding: 14px;
            font-size: 18px;
            box-shadow: 0 2px 10px gray;
        }
    }

    & .container_details {
        position: relative;
        top: 230px;

        & .subcontainer_details {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid gray;
            justify-content: center;
            padding: 50px 0 50px 0;
        }

        & .firstName {
            position: relative;
            top: 20px;
            width: 100px;
            height: 100px;
            border-radius: 5px;
            color: white;

            & h1 {
                text-align: center;
            }
        }

        & .details {
            text-align: left;
            width: 250px;
            font-size: 28px;
            margin-left: 30px;
            
            & li {
                list-style: none;
                color: $gray_results;
                font-size: 18px;
                text-align: left;
                margin-left: -36px;
            }
        }
    }
}